/* https://github.com/mitranim/sb */

/* Whitespace */

*, ::before, ::after {box-sizing: border-box;}
* {margin: 0; padding: 0;}

/* Typography */

* {
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  text-transform: inherit;
}

b, strong {font-weight: bolder;}

/*
Fixed line height reduces the jumping that happens when loading a webfont.
`ex` ≈ height of lowercase letter. This property must be set directly on an
element rather than inherited, hence the `*`.
*/
* {line-height: 2.8ex;}
html {font-family: sans-serif;}
code, key, pre {font-family: monospace;}
h1, h2, h3, h4, h5, h6 {font-size: inherit;}

/* Cursors */

html {cursor: default;}

/* button */

button {
  cursor: pointer;
  border: none;
  color: inherit;
  background-color: inherit;
  border-radius: 0;
  text-align: unset;
}

button > * {vertical-align: middle;}

[role=button] {cursor: pointer;}

/* Inputs */

input, textarea {
  border: none;
  color: inherit;
  background-color: inherit;
}

textarea {resize: none;}

::placeholder {
  color: currentColor;
  opacity: 0.5;
}

form, input, textarea, button, select, option {
  text-decoration: inherit; /* FF */
}

input[type=checkbox],
input[type=radio],
input[type=select],
input[type=file] {
  cursor: pointer;
}

/*
In Chrome (version 63 and possibly others), radio inputs shrink, while radio
inputs don't.
*/
input[type=radio] {
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

input[type=number]::-webkit-inner-spin-button {-webkit-appearance: none;}
input[type=number]::-webkit-outer-spin-button {-webkit-appearance: none;}
input[type=number] {-moz-appearance: none;}

select {cursor: pointer;}

/* hr */

hr {
  align-self: stretch;
  margin: 0;
  border: none;
}

/* Anchors */

/* The user is responsible for sensible anchor decorations. */
a {
  text-decoration: none;
  color: inherit;
}

/* Lists */

ul {list-style-type: disc;}

/* Monospace */

pre {white-space: pre-wrap;}

/* Table */

/* Blink centers "th" by default. */
th {text-align: initial;}

/* Misc */

[hidden]:not(:root) {display: none;}
template {display: none !important;}
[disabled] {cursor: not-allowed; opacity: 0.7;}
img {max-width: 100%;}
details > summary {cursor: pointer;}
details > summary * {display: inline;}
fieldset {border-style: none;}
dialog {border-style: none;}
